<mat-toolbar>
  <div class="left">
    <img class="logo" src="https://cdn.iconscout.com/icon/free/png-512/random-9-431161.png" alt="">
    <span><a href="#">About us</a></span>
    <span><a href="#">Order</a></span>
    <span><a href="#">Services</a></span>
  </div>

  <span class="example-spacer"></span>
  <div class="right">
    <span><a href="#">Contact us</a></span>
 <button class="login">Login</button>
  <span mat-icon-button  aria-label="Example icon-button with share icon">
    <mat-icon matBadge="15" matBadgeColor="warn" class="cart">local_grocery_store</mat-icon>
    
  </span>
  </div>
  
</mat-toolbar>
 